<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Sorry! we could not complete the login process, please try again later.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <i class="fa fa-5x fa-frown-o big-font"></i>
        </div>
    </div>
</div>