<div class="row">
    <div class="col-sm-12"> 
        <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
    </div>
</div>
<div class="row"> 
    <div class="col-sm-12">
        <%= render @books %>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"> 
        <%= will_paginate @books, renderer: BootstrapPagination::Rails %>
    </div>
</div>