<div class="row">
    <div class="col-sm-12"> 
        <%= will_paginate @slams, renderer: BootstrapPagination::Rails %>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <%= render @slams %>
    </div>
</div>
<div class="row">
    <div class="col-sm-12"> 
        <%= will_paginate @slams, renderer: BootstrapPagination::Rails %>
    </div>
</div>