<% if flash.count!=0 %>
    <div class="container-fluid">
        <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
            <% type = 'success' %>
        <% elsif type == 'alert' %>
            <% type = 'danger' %>
        <% end %>
        <div class="row">
            <div class="col-lg-12">
            <div class='<%="alert alert-dismissible alert-#{type}"%> text-center'>
                <a href="#" data-dismiss="alert" class="close">&times;</a>
                <%= msg %>
            </div>
            </div>
        </div>
        <% end %>
    </div>
<% end %>