<div class="covers">
    <div class="cover" id="home">
        <div class="cover-header">
            <h1><strong><i class="fa fa-pencil"></i> Write and live your Memories online</strong></h1>
        </div>
        <div class="cover-image cover1-background">
            <div class="container-fluid">
                <div class="row">
                    <h1><strong>Get Closer With Friends</strong></h1>
                </div>
                <div class="row">
                    <h3>We bring your school and college memories live at the right time</h3>                
                </div>
                <% unless user_signed_in? %>
                    <div class="row">
                        <%= link_to "/auth/facebook", :class => 'btn btn-lg btn-dark' do %>
                            <i class="fa fa-facebook-square"></i> Login / Sign Up
                        <% end %>
                    </div>
                <% end %>
                <div class="row">
                    <div class="cards">
                        <div class="col-sm-4">
                            <div class="card">
                                <h4><strong>Create Your SlamBook</strong></h4>
                                <p>Create SlamBook to question your dear ones</p>  
                                <i class="fa fa-5x fa-book small-font-awesome"></i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <h4><strong>Slam your friends</strong></h4>
                                <p>Slam your best friends to give sweet memories</p>
                                <i class="fa fa-5x fa-smile-o small-font-awesome"></i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <h4><strong>Stay Notified</strong></h4>
                                <p>Get notifications through facebook and email</p>
                                <i class="fa fa-5x fa-bullhorn small-font-awesome"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>We are here to keep your memories safe in cloud raining with happiness</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="cover" id="about">
        <div class="cover-header">
            <h1><strong><i class="fa fa-child"></i> About US</strong></h1>
        </div>
        <div class="cover-image cover2-background">
            <div class="container fluid">
                <div class="row">
                    <h1><strong>We run the whole damn fleet in theSlamBook!</strong></h1>
                </div>
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2">
                        <%= image_tag 'ameer.jpg', :class => 'img-responsive img-circle' %>
                    </div>
                </div>
                <div class="row">
                    <h3><strong><a target="_blank" class="normal-link" href="http://www.facebook.com/ameerthehacker">Ameer Jhan</a></strong></h3>
                    <small>Designer</small>
                </div>
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2">
                        <%= image_tag 'kasi.jpg', :class => 'img-responsive img-circle'%>
                    </div>
                </div>
                <div class="row">
                    <h3><strong><a target="_blank" class="normal-link" href="https://www.facebook.com/Kasiviswaanathan">Kasi Viswanathan</a></strong></h3>
                    <small>CFO</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="pull-right">
        <a target="_blank" href="https://www.facebook.com/thegeek404way/">
            <i class="fa fa-facebook-square"></i> Facebook Page               
        </a>
        <a target="_blank" href="http://www.twitter.com/ameerthehacker">
            <i class="fa fa-twitter-square"></i> Our Tweets               
        </a>
    </div>
</div>
