<div class="covers">
    <div class="cover">
        <div class="cover-header">
            <h1><strong><i class="fa fa-pencil"></i> Write and live your Memories online</strong></h1>
        </div>
        <div class="cover-image" style="background-image:url(<%=image_url('home-cover1.jpg')%>)">
            <div class="container-fluid">
                <div class="row">
                    <h1><strong>Get Closer With Friends</strong></h1>
                </div>
                <div class="row">
                    <h3>We bring your school and college memories live at the right time</h3>                
                </div>
                <% unless user_signed_in? %>
                    <div class="row">
                        <%= link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-lg btn-dark' %>
                    </div>
                <% end %>
                <div class="row">
                    <div class="cards">
                        <div class="col-sm-4">
                            <div class="card">
                                <h4><strong>Create Your SlamBook</strong></h4>
                                <p>Create question you feel need to be asked to your dear once</p>  
                                <i class="fa fa-5x fa-tasks"></i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <h4><strong>Request your friend</strong></h4>
                                <p>Ask your closest friend to slam you with a slam request</p>
                                <i class="fa fa-5x fa-smile-o"></i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <h4><strong>Always in touch</strong></h4>
                                <p>Keep in touch with your friends with our 24/7 chat service</p>
                                <i class="fa fa-5x fa-comments-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3>We are here to keep your memories safe in cloud raining with happiness</h3>
                </div>
            </div>
        </div>
    </div>
</div>