// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-banner{
    .user-cover{
        background-image: image-url('default-user-cover.png');
        background-repeat: repeat-x;
        height: 200px;
        .user-avatar{
            position:relative;
            top: 10px;
            left: 10px;
            img{
                height: 150px;
                width: 150px;
                position: absolute;
            }
        }
        .user-details{
            position: absolute;
            .user-name{
                color: #fff;
                margin-left: 170px;
                margin-top: 30px;
            }
        }
    }
    .user-link{
        a{
            color:#fff;
            font-weight: bold;
            text-decoration: none;
        }
        padding :10px;
        background: #2a2a2a;
        text-align: center;
        border-right: 2px solid #000;
    }
}

.users{
    .user{
        height: 100px;
        background: #ecf0f1;
        box-shadow: 5px 5px 4px #bdc3c7;
        padding: 10px;
        margin-top: 10px;
        border-radius: 4px;
        .user-avatar{
            border-radius: 100%;
            position: absolute;
        }
        .user-name{
            margin-left: 80px;
            position: absolute;
        }
        .user-details{
            margin-top :30px;
            margin-left:80px;
            font-size: smaller;
        }
        .user-follow{
            margin-top: 10px;
            margin-left: 80px;
        }
    }

}